@charset "UTF-8";

/*em HTML é id    =  em css é #
  em HTML é class = em CSS é .
  pode colocar mais de uma class */
body {
    background-color: rgb(131, 228, 131);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 71, 4);
}

h1#principal{
    text-align: center;
}

h2{
    color: rgb(6, 27, 2);
}

.basico{
    color: rgb(97, 99, 3);
}

.intermediario{
    color: rgb(233, 19, 12);
}

.avancado{
    color: rgb(37, 12, 179);
}